name: Maven CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Bump patch version
        run: |
          mvn versions:increment-patch -DgenerateBackupPoms=false

      # it runs validate, compile, test, package and verify. it runs lifecycle and all phase beofre verify
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

      - name: Prepare JAR artifact
        run: |
          mkdir -p staging
          cp target/*.jar staging/

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: myapp-jar
          path: staging
